@page "/books/edit"
@using OnlineBookstore.Domain.Entities
@using OnlineBookstore.Infrastructure.Contracts
@inject IGenericRepository<Book> BookRepo
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Book</h2>
<hr />

@if (Book is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Book" OnValidSubmit="UpdateBook" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="Book.Id" value="@Book.Id" />

                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Book.Title" class="form-control" />
                    <ValidationMessage For="() => Book.Title" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN:</label>
                    <InputText id="isbn" @bind-Value="Book.ISBN" class="form-control" />
                    <ValidationMessage For="() => Book.ISBN" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="pricephysical" class="form-label">Price Physical:</label>
                    <InputNumber id="pricephysical" @bind-Value="Book.PricePhysical" class="form-control" />
                    <ValidationMessage For="() => Book.PricePhysical" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="pricesoftcopy" class="form-label">Price Softcopy:</label>
                    <InputNumber id="pricesoftcopy" @bind-Value="Book.PriceSoftcopy" class="form-control" />
                    <ValidationMessage For="() => Book.PriceSoftcopy" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="stockquantity" class="form-label">Stock Quantity:</label>
                    <InputNumber id="stockquantity" @bind-Value="Book.StockQuantity" class="form-control" />
                    <ValidationMessage For="() => Book.StockQuantity" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="genreid" class="form-label">GenreId:</label>
                    <InputNumber id="genreid" @bind-Value="Book.GenreId" class="form-control" />
                    <ValidationMessage For="() => Book.GenreId" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/books">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Book? Book { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Book ??= await BookRepo.Get(m => m.Id == Id);

        if (Book is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateBook()
    {
        try
        {
            await BookRepo.Update(Book!);
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!await BookExists(Book!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/books");
    }

    private async Task<bool> BookExists(int id)
    {
        var book = await BookRepo.Get(e => e.Id == id);
        return book != null;
    }
}
