@page "/books"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineBookstore.Domain.Entities
@using OnlineBookstore.Domain.Data
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineBookstore.Domain.Data.OnlineBookstoreContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="books/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Books">
    <PropertyColumn Property="book => book.Title" />
    <PropertyColumn Property="book => book.Author" />
    <PropertyColumn Property="book => book.ISBN" />
    <PropertyColumn Property="book => book.PricePhysical" />
    <PropertyColumn Property="book => book.PriceSoftcopy" />
    <PropertyColumn Property="book => book.StockQuantity" />
    <PropertyColumn Property="book => book.GenreId" />
    <PropertyColumn Property="book => book.DateCreated" />
    <PropertyColumn Property="book => book.DateUpdated" />
    <PropertyColumn Property="book => book.CreatedBy" />
    <PropertyColumn Property="book => book.UpdatedBy" />

    <TemplateColumn Context="book">
        <a href="@($"books/edit?id={book.Id}")">Edit</a> |
        <a href="@($"books/details?id={book.Id}")">Details</a> |
        <a href="@($"books/delete?id={book.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private OnlineBookstoreContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
