@page "/orders/edit/{id:int}"
@using OnlineBookstore.Domain.Entities
@using OnlineBookstore.Infrastructure.Contracts
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject IGenericRepository<Order> OrderRepo
@inject NavigationManager NavManager

<div class="container mt-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-warning">Edit Order #@id</div>
        <div class="card-body">
            @if (order != null)
            {
                <div class="mb-3">
                    <label class="form-label">Order Date</label>
                    <input type="date" @bind="order.OrderDate" class="form-control" />
                    @if (order.OrderDate > DateTime.Now)
                    {
                        <span class="text-danger small">Date cannot be in the future.</span>
                    }
                </div>

                <button class="btn btn-success" @onclick="HandleUpdate">Update Order</button>
                <a href="/orders" class="btn btn-secondary">Cancel</a>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public int id { get; set; }
    private Order? order;

    protected override async Task OnInitializedAsync() => order = await OrderRepo.Get(q => q.Id == id);

    private async Task HandleUpdate()
    {
        // Manual Validation
        if (order != null && order.OrderDate <= DateTime.Now)
        {
            await OrderRepo.Update(order); // Update
            NavManager.NavigateTo("/orders");
        }
    }
}
