@page "/"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using OnlineBookstore.Domain
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<OnlineBookstoreUser> SignInManager
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<AuthorizeView Context="authContext">
    <Authorized>
        @{
            NavigationManager.NavigateTo("/books");
        }
    </Authorized>
    <NotAuthorized>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-5 p-4 border rounded bg-light shadow-sm">
                    <h3 class="mb-3 text-center">OnlineBookstore Login</h3>
                    <EditForm Model="LoginInput" OnValidSubmit="LoginUser" FormName="loginForm">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="LoginInput.Email" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <InputText type="password" @bind-Value="LoginInput.Password" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary w-100 py-2">Log In</button>
                    </EditForm>
                    <div class="mt-3 text-center">
                        <p>New user? <a href="/register">Sign Up here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [SupplyParameterFromForm]
    private LoginModel LoginInput { get; set; } = new();

    private async Task LoginUser()
    {
        var result = await SignInManager.PasswordSignInAsync(LoginInput.Email, LoginInput.Password, false, false);
        if (result.Succeeded)
        {
            NavigationManager.NavigateTo("/books");
        }
    }

    public class LoginModel
    {
        [Required, EmailAddress] public string Email { get; set; } = "";
        [Required] public string Password { get; set; } = "";
    }
}